{% extends 'base.html.twig' %}

{% block title %} Create Blog {% endblock %}

{% block body %}
<div class="container">
<h3 class="text-center">Write a new blog...</h3>
{{ form(form) }}
</div>
{% endblock %}